<!DOCTYPE html>

<pre id="top">

<%= link_to " Login as User.", 'login' %>          
</pre>
<br>
<h1 id="h11">The News Forum</h1>
<br>
<%= form_for :admin do |f| %>

<div id="Signin">
<h2 id="h2">Log In</h2><br>
<p>
<%= f.label :Admin_Id,'Admin ID:' %><br>
<div id="txt1">
<%= f.text_field :Admin_Id, :cols => 40 %>
</div>
</p>

<p>
<%= f.label :Password,'Password:' %><br>
<div id="txt2">
<%= f.password_field :Password, :cols => 40 %>
</div>
</p>

<p>
<div id="btn">
<%= f.submit "Sign In" %>
</div>
</p>
</div>
<% end %>