<!DOCTYPE html>
<html>
<body>
<pre id="top">

<%= link_to "User Login", 'login',:class=> "links" %>     <%= link_to "New User", 'new',:class=> "links" %>     <%= link_to " Contact Us", 'contactus',:class=> "links" %>
</pre>
<div id="h1">The News Forum</div>
<br><br>
<%= form_for (@object),url: {action: "adminhome"}  do |f| %>

<div id="Signin">

<p>
<div id="l1">
<%= f.label :adminid,'Admin ID:' %>
</div>
<div id="txta">
<%= f.text_field :adminid,:autocomplete=> :off  %>
</div>
</p>

<p>
<div id="l2">
<%= f.label :password,'Password:' %>
</div>
<div id="txtb">
<%= f.password_field :password%>
</div>
</p>

<p>
<div id="btn">
<%= f.submit "Sign In" %>
</div>
</p>
</div>
<% end %>

</body>
</html>