<!DOCTYPE html>
<pre id="top1">






  
  
   
<%= link_to "Home", 'home',:class=> "link" %>   <%= link_to "Admin Login", 'Admin',:class=> "link" %>   <%= link_to "User Login" ,'login',:class=> "link" %>
</pre>
<br><br><br>
<div id="h11">The News Forum</div>
<pre id="txt1">
Phone: +91 9873931161 
E-mail:  itsthenewsforum@gmail.com
</pre>
<pre id="social">
Follow Us

<%= link_to image_tag("fb.jpg"), "http://www.facebook.com" %>     <%= link_to image_tag("twitter.jpg"), "http://www.twitter.com" %>     <%= link_to image_tag("pinterest.jpg"), "http://www.pinterest.com" %>     <%= link_to image_tag("google.jpeg"), "http://plus.google.com" %> 

</pre>
<div id="cc">
Copyright@2017
</div>