<!DOCTYPE html>
<pre id="top">

<%= link_to " Login as Admin.", 'Admin' %>          
</pre>
<br>
<h1 id="h11">The News Forum</h1>
<%= form_for :forum do |f| %><br>
<div id="fpass">
<h2 id="h2">Forgot Password</h2>
<p>
<%= f.label :Username,'Enter Username:' %><br>
<div id="txt1">
<%= f.text_field :Username %><br><br>
<%= f.submit "Recover Password" %><br>
</div>
</p>
</div>
<br>
<div id="fuser">
<h2 id="h22">Forgot Username</h2>
<p>
<%= f.label :Email,'Enter Enter E-mail:' %><br>
<div id="txt2">
<%= f.text_field :Email %><br><br>
<%= f.submit "Recover Username" %><br>
</div>
</p>
</div>

<% end %>