<!DOCTYPE html>
<html>
<body>
<pre id="top">

<%= link_to "Login", 'login',:class=> "links" %>     <%= link_to "New User", 'new',:class=> "links" %>     <%= link_to " Contact Us", 'contactus',:class=> "links" %>
</pre>
<br>
<div id="h1">The News Forum</div>
<%= form_for :forum do |f| %><br><br><br>
<div id="fpass"><br>
<div id="h2">Forgot Password</div>
<p>
<div id="a">
<%= f.label :Username,'Enter Username:' %>
</div>
<div id="txt1">
<%= f.text_field :Username %><br><br>
<%= f.submit "Recover Password" %><br>
</div>
</p>
</div>
<div id="fuser">
<div id="h3">Forgot Username</div>
<p>
<%= f.label :Email,'Enter E-mail:' %><br>
<div id="txt2">
<%= f.text_field :Email %><br><br>
<%= f.submit "Recover Username" %><br>
</div>
</p>
</div>

<% end %>
</body>
</html>