<!DOCTYPE html>
<pre id="top1">








                                                                          
<%= link_to "News", 'show',:class=> "link" %>   <%= link_to " Contact Us", 'contactus',:class=> "link" %>     <%= link_to " Logout" , 'login',:class=> "link" %>    
</pre>
<br><br><br>
<div id="h11">The News Forum</div>
<pre id="txt1">
We provide a platform for circulation of information and sharing necessary information.
 
</pre>
<pre id="social">
Follow Us

<%= link_to image_tag("fb.jpg"), "http://www.facebook.com" %>     <%= link_to image_tag("twitter.jpg"), "http://www.twitter.com" %>     <%= link_to image_tag("pinterest.jpg"), "http://www.pinterest.com" %>     <%= link_to image_tag("google.jpeg"), "http://plus.google.com" %> 

</pre>
<div id="cc">
<div>
Copyright@2017
</div>
</div>