<!DOCTYPE html>
<html>
<body>
<pre id="top">

<%= link_to "New User", 'new',:class=> "links" %>     <%= link_to "Admin Login ", 'Admin',:class=> "links" %>     <%= link_to "Contact Us", 'contactus',:class=> "links" %>
</pre>
<br>
<div id="h1">The News Forum</div>
<br><br>
<div id="SignIn">
<%= form_for (@object),url: {action: "home"} do |f| %>
<br>
<h2 id="h2">Log In</h2>
<p>
<div id="l1">
<%= f.label :Username,'Username:' %>
</div>
<div id="txtuser">
<%= f.text_field :Username,:autocomplete=> :off %>
</div>
</p>

<p>
<div id="l2">
<%= f.label :Password,'Password:' %>
</div>
<div id="txtpass">
<%= f.password_field :Password %>
</div>
</p>
<br>
<div id="btnlog">
<p>
<%= f.submit "Sign In " %>
</p>
</div>
<br>
<%= link_to "Forgotten Password Or Username ?", 'forgetpassword',:class=> "fgtpass"  %>
</div>
<div id="SignUp">
<h2 id="h22">Is this your first time here ?</h2>

<p>
<pre id="ins">
All the participants are requested to create a fresh login for the News Forum. 

Here are all the Steps :

1. Fill out the New Account form with your details.
2. An email will be immediately sent to your email address.
3. Read your email, and click on the web link it contains.
4. Your account will be confirmed and you will be logged in.
5. Use your ncuindia.edu email Id to create the login.
</pre>
</p>

<%= link_to "New User ? Register Here.", 'new' %>
</div>
<% end %>

</body>
</html>
