<!DOCTYPE html>
<html>
<body>
<pre id="top">

<%= link_to "Login", 'login',:class=> "links" %>     <%= link_to "Admin Login", 'Admin',:class=> "links" %>     <%= link_to "Contact Us", 'contactus',:class=> "links" %>
</pre>
<br>

<div id="h1">The News Forum</div>
<%= form_for (@object), url: {action: "create"}  do |f| %>
<br>

<div id="labels">
<p>
<%= f.label :Username,'Username:' %><br>
<%= f.label :Password,'New Password:' %><br>
<%= label_tag :Password_Confirmation,'Confirm Password:' %><br>
<%= f.label :First_Name,'First Name:' %><br>
<%= f.label :Last_Name,'Last Name:' %><br>
<%= f.label :Gender,'Gender: ' %><br>
<%= f.label :Email,'E-mail:' %><br>
<%= f.label :Mobile,'Mobile:' %><br>
</p>

<div id="btn">
<p>
<%= f.submit "Sign Up" %>
</p>
</div>

</div>


<div id="txtfld">
<p>
<%= f.text_field :Username,:autocomplete=> :off %><br><br>
<%= f.password_field :Password %><br><br>
<%= password_field_tag :Password_Confirmation %><br><br>
<%= f.text_field :First_Name,:autocomplete=> :off  %><br><br>
<%= f.text_field :Last_Name,:autocomplete=> :off  %><br><br>
<%= f.radio_button :Gender,'Male' %> Male  
<%= f.radio_button :Gender,'Female' %> Female <br><br>
<%= f.text_field :Email,:autocomplete=> :off  %><br><br>
<%= f.text_field :Mobile,:autocomplete=> :off  %><br>
</p>
<br>
<%= link_to "Already Have An Account? Sign In", 'login' %>
</div>

<% end %>

</body>
</html>
