<!DOCTYPE html>
<html>
<body>
<pre id="top">

<%= link_to "Home", 'home',:class=> "links" %>     <%= link_to " Contact Us", 'contactus',:class=> "links" %>     <%= link_to "Logout",'login',:class=> "links" %>
</pre>
<div id="h1">The News Forum</div>
<br>
<pre id="sp1">

</pre>
<pre id="image1">
<%= link_to image_tag("generalnotices.png"), 'generalnotices' %>
</pre>
<pre id="sp2">

</pre>
<pre id="image2">
<%= link_to image_tag("extracurricular.png"), 'extracurricular' %>
</pre>
<pre id="sp3">

</pre>
<pre id="image3">
<%= link_to image_tag("sports.png"), 'sports' %>
</pre>
<pre id="sp4">

</pre>
<br><br><br><br>
<pre id="txt0">
    General Notices                       Extra Curricular                           Sports News
</pre>
<br><br><br><br><br><br><br><br><br><br><br><br>
<pre id="social">
Follow Us

<%= link_to image_tag("fb.jpg"), "http://www.facebook.com" %>     <%= link_to image_tag("twitter.jpg"), "http://www.twitter.com" %>     <%= link_to image_tag("pinterest.jpg"), "http://www.pinterest.com" %>     <%= link_to image_tag("google.jpeg"), "http://plus.google.com" %> 

</pre>
<div id="cc">
Copyright@2017
</div>
</body>
</html>