<h2> Profile.... </h2><br><br>
<%= image_tag("logo.png") %><br>
<p>
<strong>First Name:</strong>
<%= @object.First_Name %>
</p>

<p>
<strong>Last Name:</strong>
<%= @object.Last_Name %>
</p>

<p>
<strong>Gender:</strong>
<%= @object.Gender %>
</p>

<p>
<strong>Mobile:</strong>
<%= @object.Mobile %>
</p>

<p>
<strong>E-mail:</strong>
<%= @object.Email %>
</p>